body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(241, 49, 49);
}

#todo-container {
    width: 455px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: yellow;
}

h1, h2, h3 {
    margin: 0;
    margin-bottom: 10px;
}

#new-task-input {
    width: calc(100% - 120px);
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.completed {
    text-decoration: line-through;
    color: rgb(249, 11, 11);
}

.tool{
    display: flex;
    flex-direction: row;
    
}
